body {
  background: linear-gradient(0deg, rgba(12,15,20,1) 0%, rgba(14,18,25,1) 100%);
  overflow: hidden;
}

* {
  font-family: poppins, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #fff;
}

#canvas {
  z-index: 0;
  position: absolute !important;
  left: 0;
  top: 0;
}
